<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lang/ja.js') }}"></script>
    <script>
        //when reading page, do as follows;
        $(document).ready(function(){
            //tried getting hodliday information but it's not priority
            //have to modify the data format
            //$('#calendar').fullCalendar({
                //events: 'https://holidays-jp.github.io/api/v1/date.json'
            //});
        
        //trying another way to add imput form
        $(document).on("click", ".add", function() {
            $(this).parent().clone(true).insertAfter($(this).parent());
        });
        $(document).on("click", ".del", function() {
            var target = $(this).parent();
            if (target.parent().children().length > 1) {
            target.remove();
            }
        });

        //calendar configuration
        $('#calendar').fullCalendar({
            height: 550,
            lang: "ja",
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            selectable: true,
            selectHelper: true,
            navLinks: true,
            events: {
                url: 'http://localhost:8080/getCalendar',
                error: function() {
                    $('#script-warning').show();
                }
            },
            select: function(start, end) {
                var title = prompt("予定タイトル");
                var eventData;
                if (title) {
                    eventData = {
                        title: title,
                        start: start,
                        end: end
                        };
                    $('#Calendar').fullCalendar('renderEvent', eventData, true);
                }
                $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventLimit: true,
            });
        });
    </script>
</head>
<body>
    {% block content %}
    <!-- main contents here -->
    {% endblock %}
    <div id='calendar'></div>
</body>
</html>